# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/

# Environment variables
.env

# IDE / Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Test / coverage
.coverage
htmlcov/

# Pytest
.pytest_cache/
